<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<main>

    <h1>Поиск постов</h1>

    <form action="post_by_tag.html">
        <p>По тегу</p>
        <select name="tag" >
                <option value="еда">еда</option>
                <option value="природа">природа</option>
                <option value="вечеринка">вечеринка</option>
        </select>
        <input type="submit" value="Найти" class="button">
    </form>

    <hr>

    <a href="post_form.html" class="button">Добавить пост</a>

</main>
</body>
</html>
