<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пост добавлен</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>

    <a href="index.html" class="link">Назад</a>

    <h1>Пост добавлен! </h1>

    <div class="post">
        <img src="https://place-hold.it/640" width="100%" alt="">
        <p>Это подпись к посту, которая может содержать <a href="хештеги">#хештеги</a></p>
    </div>

    <hr>

    <a href="post_form.html" class="button">Добавить еще пост</a>

</main>
</body>
</html>
